/* add header background gradient  */

* {
  margin: auto;
}

header {
  background-color: blue;
  color: white;
}

header h1 {
  padding: 10px;
}

div {
  padding: 10px;
}

button {
  padding: 10px;
}

#current-weather {
  border:black solid 3px;
}

.card {
  border:black solid 3px;
  background-color: lightblue;
}